.color-picker-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .color-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: border 0.2s ease-in-out;
  }
  
  .color-circle.selected {
    border: 2px solid purple;
  }
  
  .check-icon {
    position: absolute;
    color: purple;
  }
  
  .bg-color-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTIgMjJDNi40OSAyMiAyIDE3LjUxIDIgMTJTNi40OSAyIDEyIDJzMTAgNC4wNCAxMCA5YzAgMy4zMS0yLjY5IDYtNiA2aC0xLjc3Yy0uMjggMC0uNS4yMi0uNS41IDAgLjEyLjA1LjIzLjEzLjMzLjQxLjQ3LjY0IDEuMDYuNjQgMS42N0EyLjUgMi41IDAgMCAxIDEyIDIyem0wLTE4Yy00LjQxIDAtOCAzLjU5LTggOHMzLjU5IDggOCA4Yy4yOCAwIC41LS4yMi41LS41YS41NC41NCAwIDAgMC0uMTQtLjM1Yy0uNDEtLjQ2LS42My0xLjA1LS42My0xLjY1YTIuNSAyLjUgMCAwIDEgMi41LTIuNUgxNmMyLjIxIDAgNC0xLjc5IDQtNCAwLTMuODYtMy41OS03LTgtN3oiLz48Y2lyY2xlIGN4PSI2LjUiIGN5PSIxMS41IiByPSIxLjUiLz4KICA8Y2lyY2xlIGN4PSI5LjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgY3g9IjE0LjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgY3g9IjE3LjUiIGN5PSIxMS41IiByPSIxLjUiLz4KPC9zdmc+Cg==);
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.create-note-ftr {
    position: relative;
}

.bg-color-options .color-picker-container {
    position: absolute;
    top: 35px;
    left: 0;
}

.create-note-ftr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

.color-choose {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-list {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.color-choose h6 {
    font-weight: 400;
    margin-bottom: 5px;
}

button.color-circle.selected.first-color svg{
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(78deg) brightness(103%) contrast(100%);
}


.cn-ftr-icons-left {
    display: flex;
    align-items: center;
    gap: 10px;
}


.cn-ftr-icons-left .attach-file button {
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: transparent;
    border: 0px;
    padding-bottom: 2px;
    cursor: pointer;
}