@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  margin: 0px;
}

input,
textarea {
  outline: none;
  border: none;
}

span.search-icon,
span.search-icon span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding: 10px 15px;
  border-bottom: 1px solid #dadce0;
}

.header .search-bar .search-bar-item {
  display: flex;
  align-items: center;
  width: 500px;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  padding: 2px 20px;
  border-radius: 7px;
}

.header .search-bar .search-bar-item input {
  border: 0;
  background: transparent;
  padding: 10px;
  width: 100%;
  font-size: 15px;
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.note-list .item {
  width: calc(25% - 25px);
  padding: 15px;
  border: 1px solid #dadce0;
  border-radius: 6px;
}

.note-list .item p {
  word-break: break-all;
}

.note-list .item h4 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.note-list .item p {
  font-size: 14px;
  line-height: 24px;
}

.note-dialog-cstm .p-dialog-header .p-dialog-title input {
  width: 100%;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  padding: 0px;
}

.note-dialog-cstm .p-dialog-content textarea {
  width: 100%;
  padding: 0px !important;
  border: 0px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  max-height: 500px;
}

.note-dialog-cstm .footer-btn {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 5px;
}

.create-note .cn-header.ui,
.create-note {
  padding: 12px 16px;
  box-shadow: 0px 0px 6px 5px #0000000f;
  border-radius: 10px;
}

.create-note {
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.create-note .cn-body textarea {
  width: 100%;
  max-height: 250px;
  margin-top: 15px;
}

.create-note .cn-body textarea,
.cn-header input,
.p-dialog-content textarea {
  width: 100%;
  resize: none;
}

.cn-header input {
  font-size: 18px;
}

.cn-ftr-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cn-ftr-btn button {
  padding: 5px 20px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}

button.add-Btn {
  background: burlywood;
  color: black;
}

@media (max-width: 991px) {
  .note-list .item {
    width: calc(50% - 25px);
  }
}

@media (max-width: 600px) {
  .note-list .item {
    width: 100%;
  }

  .header .search-bar,
  .header .search-bar .search-bar-item {
    width: 100%;
  }

  .header {
    gap: 10px;
    flex-wrap: wrap;
  }

  .header .search-bar {
    order: 3;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .header .logo {
    flex: 0 0 49%;
    max-width: 49%;
  }

  .header .refresh {
    flex: 0 0 47%;
    max-width: 47%;
    display: flex;
    justify-content: flex-end;
  }

  .note-dialog-cstm {
    width: 95% !important;
  }

  .container {
    padding: 25px 15px;
  }
}
