.archives-cstm h3 {
    padding: 11px;
}


.note-images {flex-wrap: wrap;align-items: stretch !important;}

.note-images div {
    width: calc(33.33% - 5px);
    border: 1px solid #dddee2;
    border-radius: 5px;
}

.note-images div a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #dddee2;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px;
}

.note-images div img {
    border-radius: 5px;
}

.dialogArchive {
    background: #fff;
}